body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f9;
    color: #333;
}

header {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #0f172a;
}

.project {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
    color: white;
}
