*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
  scroll-behavior:smooth;
}

body{
  background:#0a0f1c;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 50px;
  background:#111827;
  position:fixed;
  width:100%;
  z-index:1000;
}

nav a{
  margin-left:20px;
  color:#ccc;
  text-decoration:none;
  font-size:14px;
}

nav a:hover{
  color:#38bdf8;
}

.section{
  padding:90px 60px;
  min-height:80vh;
}

.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.hero img{
  width:260px;
  border-radius:15px;
  box-shadow:0 0 25px #38bdf8;
}

button{
  margin-top:15px;
  padding:10px 20px;
  border:none;
  background:#38bdf8;
  color:black;
  border-radius:6px;
  cursor:pointer;
}

h2{
  margin-bottom:20px;
  color:#38bdf8;
}

.project-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.project-card, .blog-card{
  background:#111827;
  padding:20px;
  border-radius:10px;
  transition:0.3s;
}

.project-card:hover, .blog-card:hover{
  transform:translateY(-5px);
  box-shadow:0 0 15px #38bdf8;
}

footer{
  text-align:center;
  padding:15px;
  background:#111827;
}
